
.button-base {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--spacing-2);
    height: var(--spacing-6);
    border: none;
    outline: none;
    white-space: nowrap;
}

.button-outline {
    color: var(--primary);
    border: 1px solid var(--primary);
}

.button-filled {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.button-rounded {
    border-radius: var(--spacing-3);
}

.icon-button-small {
    height: var(--spacing-6);
    width: var(--spacing-6);
    padding: 0;
}
