.filter-group {
  display: flex;
  gap: var(--spacing-1);
  width: 100%;
}

.filter-button[aria-selected='true'] {
  background-color: var(--primary);
  color: var(--mono-50);
}

.filter-button[aria-selected='true']:hover,
.filter-button[aria-selected='true']:focus {
  background-color: var(--primary-600);
}

.filter-button[aria-selected='true']:active {
  background-color: var(--primary-900);
}
