* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

button {
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    cursor: pointer;
    background-color: transparent;
}

textarea {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

:root {
    --base: 4px;
    --spacing-1: calc(1 * 4px);
    --spacing-2: calc(2 * 4px);
    --spacing-3: calc(3 * 4px);
    --spacing-4: calc(4 * 4px);
    --spacing-5: calc(5 * 4px);
    --spacing-6: calc(6 * 4px);
    --spacing-7: calc(7 * 4px);
    --spacing-8: calc(8 * 4px);
    --spacing-9: calc(9 * 4px);
    --spacing-10: calc(10 * 4px);
    --spacing-11: calc(11 * 4px);
    --spacing-12: calc(12 * 4px);
    --spacing-22: calc(22 * 4px);
    --rounded-xs: 4px;
    --rounded-sm: 6px;
    --rounded-md: 8px;
    --rounded-lg: 12px;
    --rounded-xl: 16px;

    --primary: rgba(149, 137, 224, 1);
    --primary-dark: rgba(117, 104, 197, 1);
    --primary-light: rgba(203, 196, 248, 1);

    --primary-300: rgba(236, 233, 255, 1);
    --primary-600: rgba(131, 119, 206, 1);
    --primary-900: rgba(93, 83, 156, 1);

    --green: rgba(137, 224, 209, 1);
    --green-dark: rgba(61, 165, 147, 1);
    --green-100: rgba(183, 248, 236, 1);
    --green-600: rgba(61, 165, 147, 1);
    --green-900: rgba(42, 133, 117, 1);

    --red: rgba(255, 55, 163, 1);

    --orange: rgba(254, 144, 81, 1);
    --orange-600: rgba(231, 124, 64, 1);
    --orange-900: rgba(180, 87, 34, 1);

    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --grey: rgba(239, 237, 255, 1);

    --yellow: rgba(255, 184, 0, 0.5);
    --bg-purple: #E28FFF;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: linear-gradient(-45deg, transparent, var(--yellow));
    background-color: var(--bg-purple);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 894px) {
    .container {
        padding: var(--spacing-8);
    }
}

@media (min-width: 1194px) {
    .container {
        padding: var(--spacing-12);
    }
}

.app {
    width: 100%;
    height: 100%;
    position: relative;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: var(--white);
    overflow: hidden;
    display: grid;
}

@media (min-width: 894px) {
    .app {
        border-radius: var(--rounded-sm);
    }
}

@media (min-width: 1194px) {
    .app {
        max-width: 1096px;
        max-height: 574px;
    }
}

.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 312px auto;
}

@media (min-width: 1194px) {
    .main {
        height: 574px;
    }
}

.active-prio {
    color: var(--red);
}