.note {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--white);
    z-index: 2;
    display: grid;
    grid-template-rows: max-content auto;
}

@media (min-width: 894px) {
    .note {
        position: relative;
        z-index: auto;
    }
}

.header {
    width: 100%;
    background-color: var(--primary);
    height: var(--spacing-12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-8);
    color: var(--white);
    position: sticky;
    top: 0;
}

.header-date-container {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    font-size: 12px;
}

@media (min-width: 1194px) {
    .header-date-container {
        gap: var(--spacing-3);
    }
}

.header-date-label {
    display: none;
}

@media (min-width: 894px) {
    .header-date-label {
        display: block;
    }
}

.header-prio {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
    color: var(--primary-light)
}

.header-prio-label {
    color: var(--white);
    font-size: 12px;
    display: none;
}

@media (min-width: 894px) {
    .header-prio-label {
        display: block;
    }
}

.header-actions {
    display: flex;
    gap: var(--spacing-3);
}


.note-content {
    padding: 0 var(--spacing-8);
}

.note-title {
    margin: var(--spacing-3) 0;
    padding: 0;
    color: var(--primary);
    font-weight: 600;
    font-size: 16px;
}

.note-text:first-of-type {
    margin-top: 0;
}

.note-text {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}


.edit-button {
    background-color: var(--white);
    color: var(--primary);
}

.edit-button:hover, .edit-button:focus-visible {
    background-color: var(--green-100);
    box-shadow: none;
}

.edit-button:active {
    background-color: var(--green);
    color: var(--white);
    box-shadow: none;
}

.done-button {
    border: 1px solid var(--white);
    color: var(--white);
    box-shadow: none;
}

.done-button:hover, .done-button:focus-visible {
    border: 1px solid var(--green);
    color: var(--green);
    background-color: transparent;
    box-shadow: none;
}

.done-button:active {
    color: var(--white);
    background-color: var(--green);
    border: none;
}

.delete-button {
    background-color: var(--orange);
    color: var(--white);
}

.delete-button:hover, .delete-button:focus-visible {
    background-color: var(--orange-600);
}

.delete-button:active {
    background-color: var(--orange-900);
}