.side-nav {
  width: 100%;
  height: 100%;
  background-color: var(--mono-500);
  overflow: auto;
  box-shadow: 2px 0 8px rgb(0 0 0 / 25%);
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 894px) {
  .side-nav {
    z-index: 1;
    position: relative;
  }
}

.nav-list {
  display: grid;
  grid-gap: 1px;
  margin: 0;
  padding: 0;
}

.nav-list-empty {
  color: var(--mono-1000);
  padding: var(--spacing-8) var(--spacing-3);
}

.nav-item {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-item-active {
  z-index: 1;
}

.add-button-container {
  width: 100%;
  height: 0;
  position: sticky;
  top: var(--spacing-22);
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--spacing-6);
  z-index: 3;
}

.side-nav-switch {
  position: sticky;
  top: 48px;
  padding: var(--spacing-2) var(--spacing-3);
  background-color: var(--mono-500);
  z-index: 2;
}
